In [0]:
data=[
('salmankhan12Saleemkhan3',1),
('RohitShetty3RohanMahajan5',2),
('Sanjubaba4Doni07',3)

]

In [0]:
df=spark.createDataFrame(data,schema="input string,id int")
df.show()
+--------------------+---+
|               input| id|
+--------------------+---+
|salmankhan12Salee...|  1|
|RohitShetty3Rohan...|  2|
|    Sanjubaba4Doni07|  3|
+--------------------+---+

df.show(truncate=False)

+-------------------------+---+
|input                    |id |
+-------------------------+---+
|salmankhan12Saleemkhan3  |1  |
|RohitShetty3RohanMahajan5|2  |
|Sanjubaba4Doni07         |3  |

In [0]:
#regexp_extract: This function is used for regular expression pattern matching and extraction.
#parentheses are used to capture the matched pattern as a group.
#1:indicates the index of the captured group. 

from pyspark.sql.functions import col,regexp_extract
newDf=df.select("*").withColumn("newCol",regexp_extract(df.input,'([a-zA-Z]+[0-9]+)',1)).withColumn("new_col1",regexp_extract(df.input,'([a-zA-Z]+[0-9]+)([a-zA-Z]+[0-9]+)',2 )).display()

input,id,newCol,new_col1
salmankhan12Saleemkhan3,1,salmankhan12,Saleemkhan3
RohitShetty3RohanMahajan5,2,RohitShetty3,RohanMahajan5
Sanjubaba4Doni07,3,Sanjubaba4,Doni07

In [0]:
# Alternate way to handle the issue
#(\\w+)represents one or more word characters 
from pyspark.sql.functions import col,regexp_extract
newDf=df.select("*").withColumn("new_col",regexp_extract(df.input,'([a-zA-Z]+[0-9]+)',1 )).withColumn("new_col1",regexp_extract(df.input,'([a-zA-Z]+[0-9]+)(\\w+)',2 )).display()

input,id,new_col,new_col1
salmankhan12Saleemkhan3,1,salmankhan12,Saleemkhan3
RohitShetty3RohanMahajan5,2,RohitShetty3,RohanMahajan5
Sanjubaba4Doni07,3,Sanjubaba4,Doni07